@model Ejercicio1.Models.VIewModel.EditarPersonaViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <h1>Formulario para editar una persona.</h1>
    @Html.TextBoxFor(model => model.Persona.Nombre)
    @Html.TextBoxFor(model => model.Persona.Edad)
    <select>
        @foreach (var departamento in @Model.Departamentos)
        {
            <option value="@departamento.Id">@departamento.Nombre</option>
        }
    </select>
    <input type="submit" value="Guardar Cambios" />
</form>