@model Ejercicio1.Models.Entities.Persona
@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4">Welcome</h1>
   <h1>@ViewData["Saludos"]</h1>
   <h1>@ViewBag.Hora</h1>
   <h1>@Model.Nombre @Model.Edad</h1>
    
@Html.ActionLink("Ir al ejercicio 2","ListadoPersonas","Home")
@Html.ActionLink("Ir al ejercicio 3", "ListadoPersonasPosicion3", "Home")
@Html.ActionLink("Ir al ejercicio 4","EditarPersona", "Home")